<footer
fxLayout
fxLayout.xs = "column"
>
  <div>
    <img [src] = "logoImg" alt="solid_agents-logo">
  </div>
  <div>
    <p>
      Solid Agents exists to minimize and where possible eliminate the confusing frustration people experience when getting a new house, relocating to a new property, building a new house while far away and managing properties in the most efficient and sincere manner. Serving humanity is at the core of our values and we are fully committed to delivering without fail.
    </p>
    <p>
      We hate lies, we hate greed and every form of insincerity is highly abhorred at Solid Agents. For us, being an property agent is not an invitation to complicate matters and make buyers/sellers part with their money in order to satisfy the greed of agency.
    </p>
  </div>
</footer>
