<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav role="navigation" >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/sagit" (click) = "sidenav.toggle()">Sag It</a>
      <a mat-list-item routerLink="/how-it-works" (click) = "sidenav.toggle()">How It Works</a>
      <a mat-list-item routerLink="/about-sa" (click) = "sidenav.toggle()">About Us</a>
      <a mat-list-item [matMenuTriggerFor]="menu">User</a>
      <mat-menu #menu="matMenu" xPosition="after">
        <a [hidden]="userStatus" routerLink="/login"><button mat-menu-item (click) = "sidenav.toggle()">Login</button></a>
        <a [hidden]="userStatus" routerLink="/signup"><button mat-menu-item (click) = "sidenav.toggle()">Register</button></a>
        <a [hidden]="!userStatus" routerLink="/logout"><button mat-menu-item (click) = "sidenav.toggle()">Logout</button></a>
      </mat-menu>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header  (sidenavToggle)="sidenav.toggle()" [status] = "userStatus"></app-header>
    <main>
      <!-- Add Content Here -->
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>

